{% from "macros.html" import pruebas_disp, reportes with context %}

<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>ENPS INECO</title>
  </head>
  <body>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">{{nombre}} {{apellido}}</div>
      <div class="card-body text-secondary">
        <p class="card-text"><strong>DNI:</strong> {{dni}}</p>
        <p class="card-text"><strong>Edad:</strong> {{edad}}</p>
        <p class="card-text"><strong>Fecha de nacimiento:</strong> {{fechaNac}}</p>
        <p class="card-text"><strong>Sexo:</strong> {{sexo | replace("0","Masculino") | replace("1","Femenino")}}</p>
        <p class="card-text"><strong>Educacion:</strong> {{educacion}}</p>
      </div>
    </div>
    {{pruebas_disp(lista_pruebas_disp,dic_pruebas_admin)}}
    
    {% if dic_reportes | length() > 0 %}
    {{reportes(dic_reportes)}}
    {% endif %}

    <a class="btn btn-outline-danger" href="/enps" role="button">Salir de la evaluación</a>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>