{% macro tabla_puntajes() -%}
<div>
  <table>
    <tr>
      <td>MainM</td>
      {% for x in test["mainM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>SideM</td>
      {% for x in test["sideM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>ExtrasL</td>
      {% for x in test["extrasL"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>RepeticionesM</td>
      {% for x in test["repeticionesM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>RespuestasM</td>
      {% for x in test["respuestasM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <th>Puntajes</th>
      {% for x in test["targets"]%}
      <th>{{x}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Targets</td>
      {% for x in test["targets"]%}
      <td>{{test["targets"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>intrusiones</td>
      {% for x in test["intrusiones"]%}
      <td>{{test["intrusiones"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>confab</td>
      {% for x in test["confab"]%}
      <td>{{test["confab"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>repeticiones</td>
      {% for x in test["repeticiones"]%}
      <td>{{test["repeticiones"][x]}}</td>
      {% endfor %}
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <th>Puntajes</th>
      {% for x in test["raw_scores"]%}
      <th>{{x}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Raw Scores</td>
      {% for x in test["raw_scores"]%}
      <td>{{test["raw_scores"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Z Scores</td>
      {% for x in test["z_scores"]%}
      <td>{{test["z_scores"][x]}}</td>
      {% endfor %}
    </tr>
  </table>
</div>
{%- endmacro %}

{% macro t_input() -%}
<div>
  <form action="/trial/{{next_name}}" method="POST">
    <textarea name="respuesta"></textarea>
    <button type="submit" class="btn btn-primary">Continuar</button>
  </form> 
</div>
{%- endmacro %}

{% macro checkbox(lista_rec) -%}
<div>
  <div>
    <form action="/last" method="POST">
      <table>
        {%- for row in lista_rec|batch(10, '&nbsp;') %}
          <tr>
          {%- for column in row %}
            <td>
              <input type="checkbox" name="respuesta" value="{{column}}" id="{{column}}">
              <label class="btn btn-primary" for="{{column}}">"{{column|title}}"</label>
            </td>
          {%- endfor %}
          </tr>
        {%- endfor %}
        </table>
  <button type="submit" class="btn btn-primary">Continuar</button>
</form>
</div>
{%- endmacro %}

{% macro links_trials() %}
<div>
<a class="btn btn-primary" href="/resumen" role="button">Resumen</a>
<a class="btn btn-primary" href="/trial/t1" role="button">Trial 1</a>
<a class="btn btn-primary" href="/trial/t2" role="button">Trial 2</a>
<a class="btn btn-primary" href="/trial/t3" role="button">Trial 3</a>
<a class="btn btn-primary" href="/trial/t4" role="button">Trial 4</a>
<a class="btn btn-primary" href="/trial/t5" role="button">Trial 5</a>
<a class="btn btn-primary" href="/trial/tB" role="button">Trial B</a>
<a class="btn btn-primary" href="/trial/t6" role="button">Trial 6</a>
<a class="btn btn-primary" href="/trial/t7" role="button">Diferido</a>
<a class="btn btn-primary" href="/trial/rec" role="button">Reconocimiento</a>
</div>
<div>
<a class="btn btn-outline-warning" href="/" role="button">Reiniciar</a>
</div>
{%- endmacro %}

{% macro timeUp_m(trial_num) %}

  {% if trial_num > 6 %}
  <div>
    <h2>Horario para Diferido: {{timeUp}}</h2>
  </div>
  {% endif %}

{%- endmacro %}

{% macro scores(raw_scores, z_scores) %}

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Puntajes</th>
        <th scope="col">Bruto</th>
        <th scope="col">Z</th>
      </tr>
    </thead>
    <tbody>
      {% for x in raw_scores %}
      {% if raw_scores[x] != None%}
      <tr>
        <th scope="row">{{x}}</th>
        <td>{{raw_scores[x]}}</td>
        <td>{{z_scores[x]}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{%- endmacro %}