{% macro tabla_puntajes() -%}
<div>
  <table>
    <tr>
      <td>MainM</td>
      {% for x in registro["mainM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>SideM</td>
      {% for x in registro["sideM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>ExtrasL</td>
      {% for x in registro["extrasL"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>RepeticionesM</td>
      {% for x in registro["repeticionesM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>RespuestasM</td>
      {% for x in registro["respuestasM"]%}
        <td>{{x}}</td>
      {% endfor %}
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <th>Puntajes</th>
      {% for x in registro["targets"]%}
      <th>{{x}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Targets</td>
      {% for x in registro["targets"]%}
      <td>{{registro["targets"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>intrusiones</td>
      {% for x in registro["intrusiones"]%}
      <td>{{registro["intrusiones"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>confab</td>
      {% for x in registro["confab"]%}
      <td>{{registro["confab"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>repeticiones</td>
      {% for x in registro["repeticiones"]%}
      <td>{{registro["repeticiones"][x]}}</td>
      {% endfor %}
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <th>Puntajes</th>
      {% for x in registro["raw_scores"]%}
      <th>{{x}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Raw Scores</td>
      {% for x in registro["raw_scores"]%}
      <td>{{registro["raw_scores"][x]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Z Scores</td>
      {% for x in registro["z_scores"]%}
      <td>{{registro["z_scores"][x]}}</td>
      {% endfor %}
    </tr>
  </table>
</div>
{%- endmacro %}

{% macro t_input(answer) -%}
<div>
  <form action="/enps/ravlt/trial/{{next_name}}" method="POST">
    <div>
      <textarea name="respuesta" class="col-sm-3">{{answer}}</textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Continuar</button>
    </div>
  </form> 
</div>
{%- endmacro %}

{% macro checkbox(lista_rec,checkbox_list) -%}
<div>
  <div>
    <form action="/enps/ravlt/last" method="POST">
      <table>
        {%- for row in lista_rec|batch(10, '&nbsp;') %}
          <tr>
          {%- for column in row %}
            <td>
              {% if column is in checkbox_list%}
              <input type="checkbox" name="respuesta" value="{{column}}" id="{{column}}" checked>
              {% else %}
              <input type="checkbox" name="respuesta" value="{{column}}" id="{{column}}" >
              {% endif %}
              <label class="btn btn-outline-primary" for="{{column}}">"{{column|title}}"</label>
            </td>
          {%- endfor %}
          </tr>
        {%- endfor %}
        </table>
  <button type="submit" class="btn btn-primary">Continuar</button>
</form>
</div>
{%- endmacro %}

{% macro links_trials() %}
<div>
  <div>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t1" role="button">T1</a>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t2" role="button">T2</a>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t3" role="button">T3</a>    
  </div>
  <div>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t4" role="button">T4</a>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t5" role="button">T5</a>
    <a class="btn btn-primary" href="/enps/ravlt/trial/tB" role="button">TB</a>
  </div>
  <div>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t6" role="button">T6</a>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t7" role="button">Dif</a>
    <a class="btn btn-primary" href="/enps/ravlt/trial/t8" role="button">Rec</a>
  </div>
</div>

{%- endmacro %}

{% macro timeUp_m(trial_num) %}

  {% if trial_num > 6 %}
  <div>
    <h2>Horario para Diferido: {{timeUp}}</h2>
  </div>
  {% endif %}

{%- endmacro %}

{% macro scores(raw_scores, z_scores) %}
<div class="col-sm-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Puntajes</th>
        <th scope="col">Bruto</th>
        <th scope="col">Z</th>
      </tr>
    </thead>
    <tbody>
      {% for x in raw_scores %}
      {% if raw_scores[x] != None%}
      <tr>
        {% if x != "total_inmediato"%}
        <th scope="row"><a href="/enps/ravlt/trial/{{x}}">{{x | replace("t7","Diferido") | replace("t8","Reconocimiento") | replace("total_inmediato","Trials 1-5") | replace("tB","Lista B")}}</a></th>
        {% else %}
        <th scope="row">{{x | replace("t7","Diferido") | replace("t8","Reconocimiento") | replace("total_inmediato","Trials 1-5") | replace("tB","Lista B")}}</th>
        {% endif %}
        <td>{{raw_scores[x]}}</td>
        <td>{{z_scores[x]|round(2,"common")}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table> 
</div>
{%- endmacro %}

{% macro mas_info(registro) %}
<div>
  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#masInfo" aria-expanded="false" aria-controls="masInfo">
      Más información 
    </button>
  </p>
  <div class="collapse" id="masInfo">
    <div class="card card-body col-sm-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Trials</th>
            <th scope="col">Confab</th>
            <th scope="col">Intr</th>
            <th scope="col">Repet</th>
          </tr>
        </thead>
        <tbody>
          {% for x in registro["targets"] %}
          <tr>
            {% if x|int < 5 %}
              <th scope="row">{{x|int +1}}</th>
              {% else %}
              <th scope="row">{{x | replace("5","Lista B") | replace("7","Diferido") | replace("8","Reconocimiento") }}</th>
            {% endif %}
            <td>{{registro["confab"][x]}}</td>
            <td>{{registro["intrusiones"][x]}}</td>
            <td>{{registro["repeticiones"][x]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
  </div>
</div>
{%- endmacro %}

{% macro targets_chart(listaA,mainM) %}
<table>
  <tr>
    <td></td>
    <td>T1</td>
    <td>T2</td>
    <td>T3</td>
    <td>T4</td>
    <td>T5</td>
    <td>T6</td>
    <td>Dif</td>
    <td>Rec</td>
  </tr>
  {% for x in range(0,15) %}
  <tr>
    <td>{{listaA[x]}}</td>
      {% for y in range(0,5)%}
        {% if mainM[y]!=None%}
          {% if mainM[y][x] > 0%}
            <td bgcolor="green"></td>
          {% else %}
            <td bgcolor="white"></td>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% for y in range(6,9)%}
        {% if mainM[y]!=None%}
          {% if mainM[y][x] > 0%}
            <td bgcolor="green"></td>
          {% else %}
            <td bgcolor="white"></td>
          {% endif %}
        {% endif %}
      {% endfor %}
  </tr>
  {% endfor %}
</table>
{%- endmacro %}

{% macro table_listaB(listaB) %}
<div>
  <table>
    <tr>
      <th>Lista B</th>
    </tr>
    {% for x in range(0,15) %}
  <tr>
    <td>{{listaB[x]}}</td>
  </tr>
  {% endfor %}
  </table>
</div>
{%- endmacro %}

{% macro ravlt_parrafo(parrafo) %}
<div>
  <h2>Reporte</h2>
  <p>{{parrafo}}</p>
</div>
{%- endmacro %}

{% macro pruebas_disp(lista_pruebas_disp,dic_pruebas_admin) %}
<div>
  <h2>Pruebas disponibles</h2>
  {% for x in lista_pruebas_disp %}
    {% if x is in dic_pruebas_admin %}
    <a class="btn btn-outline-primary" href="/enps/ravlt/recover/{{dic_pruebas_admin[x]}}" role="button">{{x}}</a>
    {% else %}
    <a class="btn btn-outline-primary" href="/enps/{{x}}/config" role="button">{{x}}</a>
    {% endif %}
    {% endfor %}
</div>
{%- endmacro %}
