{% from "macros.html" import tabla_puntajes,checkbox,t_input,links_trials,timeUp_m, scores, mas_info,targets_chart,table_listaB with context %}


{% extends "base.html" %}
{% block content %}
<div class="container px-4 py-5 my-3" style="font-family: PT Sans,sans-serif">
  <h1>Trial {{short_name}}</h1>

  {% if timeUp != None%}
  {{timeUp_m(trial_num)}}
  {% endif %}

  
  {% if short_name=="8" %}

  {{checkbox(lista_rec,checkbox_list)}}

  {% else %}

  {{t_input(answer,ravlt_obs)}}

  {% endif %}

  {% if trial_num==5%}
    {{table_listaB(listaB)}}
  {% elif trial_num==6%}
    {{targets_chart(listaB,mainM)}}
  {% else %}
    {{targets_chart(listaA,mainM)}}
  {% endif %}

  {% if any_score %}
  {{scores(raw_scores, z_scores)}}
  {% endif %}

  {% if any_score %}
  {{ mas_info(registro) }}
  {% endif %}

  <div>
    <a class="btn btn-primary" href="/enps/ravlt" role="button">Resumen RAVLT</a>
  </div>
</div>
{% endblock %}