<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>ENPS INECO</title>
  </head>
  <body>

    <h1>Configuración de la prueba</h1>

    <form action="/enps/ravlt/set" method="POST">
        <div>
          <label class="form-label">Lista</label>
          <select class="form-select" aria-label="lista" name="lista">
              <option value="0">Principal (Tambor)</option>
              <option value="1">Alternativa (Pasto)</option>
          </select>
      </div>
      <div>
          <label class="form-label">Normas</label>
          <select class="form-select" aria-label="normas" name="normas">
              <option value="Geffen(1995)">Geffen</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar</button>
        
 
    </form>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>
