{% extends "base.html" %}
{% block content %}

    <h1>Configuración de la prueba</h1>

    <form action="/enps/ravlt/set" method="POST">
        <div>
          <label class="form-label">Lista</label>
          <select class="form-select" aria-label="lista" name="lista">
              <option value="0">Principal (Tambor)</option>
              <option value="1">Alternativa (Pasto)</option>
          </select>
      </div>
      <div>
          <label class="form-label">Normas</label>
          <select class="form-select" aria-label="normas" name="normas">
              <option value="Geffen(1995)">Geffen</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar</button>
        
 
    </form>

{% endblock %}
