{% from "macros.html" import tabla_puntajes,checkbox,t_input,links_trials,timeUp_m, scores, mas_info with context %}

<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>RAVLT</title>
  </head>
  <body>
    <h1>Trial {{short_name}}</h1>

    {% if timeUp != None%}
    {{timeUp_m(trial_num)}}
    {% endif %}

    
    {% if short_name=="8" %}

    {{checkbox(lista_rec)}}

    {% else %}

    {{t_input(answer)}}

    {% endif %}

  

  
    {% if any_score %}
    {{scores(raw_scores, z_scores)}}
    {% endif %}

    {% if any_score %}
    {{ mas_info(registro) }}
    {% endif %}

    <div>
      <a class="btn btn-primary" href="/resumen" role="button">Resumen</a>
      <a class="btn btn-outline-danger" href="/" role="button">Reiniciar</a>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>